*{
    padding: 0;
    margin: 0;
    background-color: rgb(255,255,255);
    /* box-sizing: border-box; */
    /* overflow-x: hidden; */
}

 .gold{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid gray;
    position: fixed;
    /* overflow: hidden; */
    width: 100%;

}

.gold101 img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    gap: 20px;
}

.gold101 img:hover{
    cursor: pointer;
}

.gold201{
    display: flex;
    width: 15cm;
    height: 1.3cm;
    background-color: rgb(238,238,238);
    border-radius: 1cm;
    padding: 10px;
}

.gold201 img{
    height: 30px;
    width: 30px;
}
.gold201 input{
    background-color:rgb(238,238,238);
    border: 30px;
    height: 0.7cm;
    padding: 2px;
    width: 13cm;
}
.gold201 img :hover{
    cursor: pointer;
}


.gold301{
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    gap:20px;

    
}
 .gold301 img{
    height: 30px;
    width: 40px;
 }
.gold301 h4:nth-child(3){
    color: blue;
}

.gold301 h4:hover{
    cursor: pointer;
}
.gold301 button{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid rgb(238,238,238);
    padding: 3px;
    border-radius:2px;
    margin-right: 10px;
}

.gold301 button:hover{
    border-color: black;
}

/* .cway{
    padding-top: 110px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(300px, auto);
    gap: 4px;
    width: 95%;
    margin: auto;
    columns: 3;
    column-gap: 10px;
    
}

.cway div{
    padding: 30px;
    background-color: whitesmoke;
    width: 90%;
}

.cway img{
    width: 90%;
    margin: 30px;
}

.five img{
    margin-top: -300;
} */






.cway{
    width: 96%;
    margin: auto;
    /* columns: 3; */
    column-count: 3;
    column-gap: 10px;
    padding-top: 3cm;

}

.cway div{
    /* width: 100%; */
    margin-bottom: 12px;
}

.cway img{
    width: 100%;
}